@import "~bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";


:root {
    --orange: #E44D26;
    --purple: #563d7c; 
}


.fonts {
    font-family: "Open Sans", sans-serif;
}

.font-title {
    font-family: "Titillium Web", "Trebuchet MS", sans-serif;
}
.orange {
    background-color: var(--orange);

}

.orange:hover {
    background-color: var(--orange);
}

.purple {
    background-color: var(--purple);
}

.purple:hover {
    background-color: var(--purple);
}
.navbar-brand {
    font-size: 1rem;
    margin-right: 0;
}
@keyframes bounceSide {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
}

#animated-arrow {
    display: inline-block;
    animation: bounceSide 1s infinite ease-in-out;
}

.no {
    text-decoration: none;
}
.hover-underline:hover {
    text-decoration: underline;
}