@import "~bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";


:root {
    --orange: #E44D26;
    --purple: #563d7c;
    --bg-color: #f8f9fa;
    --text-color: #212529;
    --accent-color: #0d6efd;
    --secondary-color: #6c757d;
    --card-bg: #ffffff;
    --form-bg: #ffffff;
    --navbar-bg: #e9ecef;
    --footer-bg: #ffffff;
    --border-color: #dee2e6;
}

[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #e9ecef;
    --accent-color: #66b2ff;
    --secondary-color: #adb5bd;
    --card-bg: #1e1e1e;
    --form-bg: #2c2c2c;
    --navbar-bg: #1f1f1f;
    --footer-bg: #1f1f1f;
    --border-color: #343a40;
}


html {
    scroll-behavior: smooth;
}

nav, footer, .navbar {
    background-color: var(--navbar-bg);
    color: var(--text-color);
    
}

a, .navbar-nav, h1 {
    color: var(--text-color) !important;
}
/*light mode */
body {
    background-color: var(--bg-color);
    color: var(--text-color);

}

#contact {
    padding-top: 100px;
    padding-bottom: 100px;
}

.active {
    font-weight: bold;
    color: var(--accent-color) !important; /* #0d6efd !important;*/
    /* accent color */
    border-bottom: 2px solid var(--accent-color);
}



/*dark mode stuff */
body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}



/*a {
    color: #0d6efd;
    text-decoration: none;
  }
*/

.fonts {
    font-family: "Open Sans", sans-serif;
}

.font-title {
    font-family: "Titillium Web", "Trebuchet MS", sans-serif;
}

.orange {
    background-color: var(--orange);

}

.orange:hover {
    background-color: var(--orange);
}

.purple {
    background-color: var(--purple);
}

.purple:hover {
    background-color: var(--purple);
}

.navbar-brand {
    font-size: 1rem;
    margin-right: 0;
}

@keyframes bounceSide {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }
}

#animated-arrow {
    display: inline-block;
    animation: bounceSide 1s infinite ease-in-out;
}

.no {
    text-decoration: none;
}

.hover-underline:hover {
    text-decoration: underline;
}

.message {
    display: none;
    width: 75%;
    text-align: center;
    background-color: #28a745;
    /* Success green */
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;

}