@import "~bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";


:root {
    --orange: #E44D26;
    --purple: #563d7c; 
}

html {
    scroll-behavior: smooth;
}



/*light mode */
body{
    background-color: #f8f9fa;
    color: #212529;

}

#contact {
    padding-top: 100px;
    padding-bottom: 100px;
  }

.active {
    font-weight: bold;
    color: #0d6efd !important; /* accent color */
    border-bottom: 2px solid #0d6efd; 
  }

footer {
    background-color: #e9ecef;
}


/*dark mode stuff */



.fonts {
    font-family: "Open Sans", sans-serif;
}

.font-title {
    font-family: "Titillium Web", "Trebuchet MS", sans-serif;
}
.orange {
    background-color: var(--orange);

}

.orange:hover {
    background-color: var(--orange);
}

.purple {
    background-color: var(--purple);
}

.purple:hover {
    background-color: var(--purple);
}
.navbar-brand {
    font-size: 1rem;
    margin-right: 0;
}
@keyframes bounceSide {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
}

#animated-arrow {
    display: inline-block;
    animation: bounceSide 1s infinite ease-in-out;
}

.no {
    text-decoration: none;
}
.hover-underline:hover {
    text-decoration: underline;
}

.message {
    display: none;
    width: 75%;
    text-align: center;
    background-color: #28a745; /* Success green */
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    
}